// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

::-webkit-scrollbar-track {
    background-color: rgb(40, 88, 247, 0.05);
}

::-webkit-scrollbar {
    width: 1px;
    height: 1px;
    background-color: rgb(40, 88, 247, 0.05);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(49, 118, 246, 0.4);
}
